# JupyterLab Connection Settings

In [1]:
# %! pip install --trusted-host pypi.org ipython-sql

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///DB_practice.db

'Connected: @DB_practice.db'

In [4]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///DB_practice.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

# Manuel Table Creation Transactions

In [5]:
%%sql
CREATE TABLE new_table(firstname varchar(20),
                       lastname varchar(20))

 * sqlite:///DB_practice.db
(sqlite3.OperationalError) table new_table already exists
[SQL: CREATE TABLE new_table(firstname varchar(20),
                       lastname varchar(20))]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [6]:
%%sql
INSERT INTO new_table values('Ali', 'Go_to_the_Space')

 * sqlite:///DB_practice.db
1 rows affected.

[]

In [7]:
%%sql
SELECT * FROM new_table;

 * sqlite:///DB_practice.db
Done.

[('Berkay', 'Surname'),
 ('Ali', 'Go_to_the_Space'),
 ('Jale', 'Drink_Milk'),
 ('Ali', 'Go_to_the_Space')]

In [8]:
%%sql
INSERT INTO new_table values('Jale', 'Drink_Milk')

 * sqlite:///DB_practice.db
1 rows affected.

[]

In [9]:
%%sql
SELECT * FROM new_table;

 * sqlite:///DB_practice.db
Done.

[('Berkay', 'Surname'),
 ('Ali', 'Go_to_the_Space'),
 ('Jale', 'Drink_Milk'),
 ('Ali', 'Go_to_the_Space'),
 ('Jale', 'Drink_Milk')]

# SELECT Transactions

In [10]:
%%sql
SELECT * FROM Products LIMIT 5;

 * sqlite:///DB_practice.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21)]

In [11]:
%%sql
SELECT name FROM sqlite_master WHERE type = 'table';

 * sqlite:///DB_practice.db
Done.

[('Products',),
 ('Categories',),
 ('Customers',),
 ('Employees',),
 ('OrderDetails',),
 ('Orders',),
 ('Shippers',),
 ('Suppliers',),
 ('new_table',)]

In [12]:
%%sql
SELECT * FROM Customers where 1=0;

 * sqlite:///DB_practice.db
Done.

[]

In [13]:
%%sql
SELECT CustomerName,Address,Country FROM Customers LIMIT 5;

 * sqlite:///DB_practice.db
Done.

[('Alfreds Futterkiste', 'Obere Str. 57', 'Germany'),
 ('Ana Trujillo Emparedados y helados', 'Avda. de la Constitución 2222', 'Mexico'),
 ('Antonio Moreno Taquería', 'Mataderos 2312', 'Mexico'),
 ('Around the Horn', '120 Hanover Sq.', 'UK'),
 ('Berglunds snabbköp', 'Berguvsvägen 8', 'Sweden')]

In [14]:
#mathematical transactions

In [19]:
%%sql
SELECT Price, Price*3 from Products LIMIT 5;

 * sqlite:///DB_practice.db
Done.

[(18, 54), (19, 57), (10, 30), (22, 66), (21, 63)]

In [21]:
%%sql
SELECT Price AS Main_Price, Price *3 AS Multiplied_3 from Products LIMIT 5;

 * sqlite:///DB_practice.db
Done.

[(18, 54), (19, 57), (10, 30), (22, 66), (21, 63)]

In [22]:
#counting

In [26]:
%%sql
SELECT COUNT(*) AS Row_Count FROM Customers;

 * sqlite:///DB_practice.db
Done.

[(91,)]

In [27]:
%%sql
SELECT * FROM Products LIMIT 3;

 * sqlite:///DB_practice.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)]

In [30]:
%%sql
SELECT * FROM Products ORDER BY Price LIMIT 15;

 * sqlite:///DB_practice.db
Done.

[(13, 'Konbu', 6, 8, '2 kg box', 6),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15)]

In [29]:
%%sql
SELECT * FROM Products ORDER BY Price DESC LIMIT 15;

 * sqlite:///DB_practice.db
Done.

[(31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 435),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (28, 'Rössle Sauerkraut', 12, 7, '25 - 825 g cans', 45),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 45),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 43),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 43),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 43)]

# WHERE

In [31]:
%%sql
SELECT * FROM Customers LIMIT 10;

 * sqlite:///DB_practice.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')]

In [35]:
%%sql
SELECT * FROM Customers WHERE Country = 'Sweden';

 * sqlite:///DB_practice.db
Done.

[(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden')]

In [36]:
%%sql
SELECT * FROM Customers WHERE NOT City = 'Berlin' LIMIT 10;

 * sqlite:///DB_practice.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')]

In [37]:
# numeric choosing

In [41]:
%%sql
SELECT * FROM Customers WHERE PostalCode = 5021;

 * sqlite:///DB_practice.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico')]

In [43]:
# and , or

In [45]:
%%sql
SELECT * FROM Customers WHERE Country = 'UK' AND City = 'London';

 * sqlite:///DB_practice.db
Done.

[(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')]

In [52]:
%%sql
SELECT * FROM Customers WHERE Country = 'UK' OR Country='USA';

 * sqlite:///DB_practice.db
Done.

[(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

In [54]:
%%sql
SELECT * FROM Customers WHERE Country = 'USA' AND (City = 'Eugene' OR City = 'Elgin');

 * sqlite:///DB_practice.db
Done.

[(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')]

In [55]:
%%sql
SELECT * FROM Customers WHERE Country = 'USA' AND PostalCode = 97403 AND (City = 'Eugene' OR City = 'Elgin');

 * sqlite:///DB_practice.db
Done.

[(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')]

In [56]:
# in / not in use of

In [60]:
%%sql
SELECT * FROM Customers WHERE CustomerID in (1,3,5,7);

 * sqlite:///DB_practice.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')]

In [61]:
%%sql
SELECT * FROM Customers WHERE Country = 'USA' AND City in('Eugene','Elgin');

 * sqlite:///DB_practice.db
Done.

[(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')]

In [64]:
%%sql
SELECT * FROM Customers WHERE Country = 'USA' AND City NOT IN ('Eugene','Elgin') LIMIT 5;

 * sqlite:///DB_practice.db
Done.

[(43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')]

# Choosing Transaction with LIKE

* 'a%' : values are startswith 'a'
* '%a' : values are endswith 'a'
* %or%' : values are have “or” anywhere in phrase 
* '_r%' : values are have 'r' in second line
* 'a%%' : values are startswith 'a' and at least 3 characters
* 'a%o' : values are startswith 'a' and endswith'o'

In [65]:
%%sql
SELECT * FROM Customers LIMIT 10;

 * sqlite:///DB_practice.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')]

In [69]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE '%or%';

 * sqlite:///DB_practice.db
Done.

[(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '4179', 'Germany'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '5033', 'Mexico'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')]

In [71]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE '%a';

 * sqlite:///DB_practice.db
Done.

[(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'),
 (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')]

In [74]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE 'A%' AND Country LIKE '%o';

 * sqlite:///DB_practice.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

# BETWEEN

In [76]:
%%sql
SELECT * FROM Products LIMIT 10;

 * sqlite:///DB_practice.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31)]

In [84]:
%%sql
SELECT * FROM Products WHERE Price NOT BETWEEN 10 AND 20 LIMIT 5 ;

 * sqlite:///DB_practice.db
Done.

[(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40)]

In [83]:
%%sql
SELECT * FROM Products WHERE Price > 10 AND Price < 50 LIMIT 10;

 * sqlite:///DB_practice.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38)]

In [87]:
%%sql
SELECT * FROM Products WHERE (Price BETWEEN 10 AND 20) AND NOT CategoryID IN(1,2,3);

 * sqlite:///DB_practice.db
Done.

[(36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (54, 'Tourtière', 25, 6, '16 pies', 16),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10)]

In [89]:
%%sql
SELECT ProductName FROM Products WHERE (Price BETWEEN 10 AND 20) AND NOT CategoryID IN(1,2,3);

 * sqlite:///DB_practice.db
Done.

[('Inlagd Sill',),
 ('Singaporean Hokkien Fried Mee',),
 ('Spegesild',),
 ('Tourtière',),
 ('Escargots de Bourgogne',),
 ('Röd Kaviar',),
 ('Longlife Tofu',)]

In [95]:
%%sql
SELECT * FROM Products WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Govanni' ORDER BY Price DESC;

 * sqlite:///DB_practice.db
Done.

[(31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 435),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 43),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 43),
 (33, 'Geitost', 15, 4, '500 g', 43),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 43),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 27),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 23),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', 21),
 (71, 'Fløtemysost', 15, 4, '10 - 500 g pkgs.', 21),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (76, 'Lakkalikööri', 23, 1, '500 ml', 18),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (13, 'Konbu', 6, 8, '2 kg box', 6)]